@use '@carbon/react/scss/spacing' as *;

.EmpPageWrap{
  padding-left: 18vw;
  padding-top:10vh ;

}
.repo-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}
 
  .BP_name{
    margin-right: auto; 
    font-size:60px;
    font-weight: bold;
    padding-bottom: 2%;
    color: black;
  }
  
  table th, table td{
    border: 1px solid black;
    text-align: center;
    font-size: smaller;
   color: black;
    background-color: white;
    
  }
  
  table th {
    color: black;
   
  
  }
  
  .button{
    margin-top: 10px;
    padding: 10px;
  }
  
  .legend-container {
    position: fixed;
    left: 240px;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .legend-list {
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .legend-list li {
    color: #555;
  }
  .legend-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
  }
  
  .highlight-lightgreen td{
    background-color: lightgreen;
  }
  
  .highlight-lightblue td{
    background-color: lightblue;
  }
  
  
 .bx--grid{
  padding-left: 18vw;
 }

 Search{
  padding-top: 50vh;
  padding-bottom: 5vh;
 
 }